.navigator-breadcrumb-wrapper {
    font-size: 16px;
    color: black !important;
    color: #d70018;
    text-decoration: none;
}
.icon{
    width: 30% !important;
    height: 30%;
}
.login-with-brand{
    display: "flex";
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;

}
.title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn_Dky{
 background-color: #d70018 !important;
 font-weight: 500;
}